.todo-item {
    display: flex;
    justify-content: flex-start;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    font-size: 15px;
    color: #333333;
}

.remove-button {
  cursor: pointer;
}

svg {
    margin-left: 5px;
    margin-top: 2px;
    /* border: 1px solid #dddddd; */
}
